html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #79756f;
  width: 100%;
  border-style: solid;
  color: #595652;
  margin: 0;
  padding: .75em;
}

.header {
  background-color: #79756f;
  font-family: Bevan, sans-serif;
  color: #fff;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

nav {
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
}

.intro {
  background-color: #713837;
  border-radius: 5px;
  padding: .6em;
  margin: .3em;
}

.terr {
  background-color: #713837;
  border-radius: 5px;
  padding: .6em;
  margin: 0;
}

.mars {
  background-color: #713837;
  border-radius: 5px;
  padding: .6em;
  margin: .3em;
}

.venus {
  background-color: #713837;
  border-radius: 5px;
  padding: .6em;
  margin: .3em;
}
