html {
    box-sizing: border-box;
    background-color: #dbd6cf;
    line-height: 1.5;
    padding: 0.75rem;
}

*, *::before, *::after {
    box-sizing: inherit;
}

header {
  width=100%;

}

h1 {
  color: #fff;
  background-color: #79756f;
  text-align: center;
  font-family: "Bevan", sans-serif;
  padding: .75em;
  margin: 0;
}

.header {
  width: 100%;
  background: #ccc;
}
